name: Docker stuff
# uses https://github.com/docker/build-push-action

on:
  release:
    types: [published]

jobs:
  docker:
    # this should prevent the job from running on PRs and should help keep the keys secret
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker Build and Docker Push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          # According to https://docs.github.com/en/actions/reference/events-that-trigger-workflows#release `$GITHUB_REF` is going to be the tag of the release
          tags: singlespa/import-map-deployer:${{github.ref}},singlespa/import-map-deployer:latest
